<!DOCTYPE html>
<html lang="zh-en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="wap-font-scale" content="no">

	<title>重神机潘多拉</title>
	<meta name="keywords" content="海天云龙,海天云龙（厦门）文化传媒有限公司,Skyloong,动漫,动画连续剧,绝防都市,河森正治,Hyper Destroyer,超时空要塞,satelight,厦门海天云龙,厦门海天云龙文化传媒有限公司"/>
	<meta name="description" content="海天云龙,海天云龙（厦门）文化传媒有限公司,Skyloong,动漫,动画连续剧,绝防都市,河森正治,Hyper Destroyer,超时空要塞,satelight,厦门海天云龙,厦门海天云龙文化传媒有限公司 "/>
	<meta name="author" content="海天云龙（厦门）文化传媒有限公司"/>
	<meta name="copyright" content="海天云龙（厦门）文化传媒有限公司"/>
	<meta name="company" content="海天云龙（厦门）文化传媒有限公司"/>
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/notosansjp.css" rel="stylesheet">
  </head>
  <body>

	<div id="app">
		<router-view></router-view>
	</div> <!-- / #app --> 

	<template id="page">
		<div class="page"></div>
	</template>

	<template id="header">
		<div class="page-top">
			<div class="nav"  role="banner" style="height: 100%; position: relative;">
				<header>
					<div id="gnav_layer"></div>
					<div class="inner">
						<div id="gnav" role="navigation">
							<nav>
								<ul>
									<li v-for="item in menuItems"><router-link v-bind:to="item.link">{{item.name}}</router-link></li>
								</ul>
							</nav>
						</div>

						<div class="share">
							<aside>
								<h2>SHARE</h2>
								<ul>
									<li class="tw"><a href="" ><img src="picture/btn_share_weibo.png" alt="新浪微博"></a></li>
									<li class="fb"><a href="" ><img src="picture/btn_share_wechat.png" alt="微信"></a></li>
									<!--<li class="line"><a href="" ><img src="picture/btn_share_line.png" alt="LINE"></a></li>-->
								</ul>
							</aside>
						</div>
					</div><!--/.inner-->

					<h1 id="logo"><cite><a href="/">重神机 PANDORA</a></cite></h1>

				</header>
			</div>
		</div>
	</template>

	<template id="page-bottom">
		<div class="page-bottom">
			<div class="page-bottom-content">
				<ul class="menu">
					<li v-for="item in menuItems"><router-link v-bind:to="item.link">{{item.name}}</router-link></li>
				</ul>
				<p class="copyright">©2017 SHOJI KAWAMORI, SATELIGHT / XIAMEN SKYLOONG MEDIA.</p>
			</div>
			<div class="page-bottom-bg"></div>
			<div class="page-bottom-bg-2"></div>
		</div>
	</template>

	<template id="home">
		<div class="page-home">
			<page-top></page-top>
			<div class="loader">
				<div class="ball-scale-multiple"><div></div><div></div><div></div></div>
			</div>
			<!-- header -->


			<div class="btn_gnav">
				<div class="inner">
					<div class="lines"><i class="first"></i><i class="second"></i><i class="third"></i></div>
				</div>
			</div>

			<div id="stage">

				<!-- index_main -->
				<div id="index_main" role="main">
					<section>
						<div id="mainvisual">
							<div id="visual">
								<img src="picture/mainvisual.jpg" alt="" class="visual1">
								<img src="picture/mainvisual2.jpg" alt="" class="visual2">

								<p class="copy01 visual1"><img src="picture/img_copy01.png" alt="为了活下去、"></p>
								<p class="copy02 visual1"><img src="picture/img_copy02.png" alt="我们签订了契约。"></p>
								<p class="copy01 visual2"><img src="picture/img_copy02_01.png" alt="为了生存、"></p>
								<p class="copy02 visual2"><img src="picture/img_copy02_02.png" alt="我们签订了契约。"></p>
							</div>
							<!--p class="copy01 visual1"><img src="picture/img_copy01.png" alt="生きるために、"></p>
                            <p class="copy02 visual1"><img src="picture/img_copy02.png" alt="僕たちは契約を結んだ。"></p-->
							<div class="logo"><cite><img src="picture/logo.png" alt="重戦機パンドーラ PANDORA"></cite></div>
							<p class="releaseday"><img src="picture/releaseday.png" alt="2018年春季即将开播！"></p>
							<ul>
								<li id="visual1" class="is-active"><span>VISUAL01</span></li>
								<li id="visual2"><span>VISUAL02</span></li>
								<li id="visual3" class="cs"><span>VISUAL03</span><i>COMING SOON</i></li>
							</ul>
						</div>

					</section>
				</div><!--/#index_main-->


				<div id="index_movie">
					<section>
						<h2><span>MOVIE</span></h2>
						<a href="http://video.project-pandora.cn/db5766046ff94291ab43bf7ddc617957/6a2a358009534e11b161b5f94368c233-5287d2089db37e62345123a1be272f8b.mp4" target="_blank" class="thum_movie"><div><img src="picture/maxresdefault.jpg" alt=""></div></a>
						<i><img src="picture/img01.png" alt="PANDORA PV"></i>
					</section>
				</div>


				<div id="widget">
					<section>
						<h2><span>TWITTER</span></h2>
						<div class="inner">
						</div>
						<i><img src="picture/img02.png" alt="@UNIT_PANDORA"></i>
						<p class="m_center"><a href="/news"  class="btn01">MORE</a></p>  <!--跳转到新闻页-->
					</section>
				</div>
				<p class="visual2"></p>

				<!-- footer -->
				<div id="footer" role="contentinfo">
					<footer>
						<ul class="links">
							<li><a href="http://www.skyloong.net" target="_blank"><img src="picture/satelight.png" alt="Satelight"></a></li>
							<li><a href="http://www.satelight.co.jp" target="_blank"><img src="picture/skyloong.png" alt="Xiamen Skyloong Media"></a></li>
							<li><a href="http://www.project-pandora.jp" target="_blank"><img src="picture/japan.png" alt="japan"></a></li>
						</ul>

						<p class="copyright"><small>&copy;2017 Shoji Kawamori, Satelight / Xiamen Skyloong Media</small></p>
					</footer>
				</div><!--/#footer-->
			</div><!--/#stage-->
		</div>
	</template>

	<template id="news">
		<div class="page page-news">

		</div>
	</template>


	<template id="keyword">
		<div class="page page-keyword">


		</div>
	</template>

	<template id="goods">
		<div class="page page-goods">


		</div>
	</template>

	<template id="cast">
		<div class="page page-cast">


		</div>
	</template>

	<template id="character">
		<div class="page page-character">


		</div>
	</template>

	<template id="mechanic">
		<div class="page page-mechanic">


		</div>
	</template>

	<template id="story">
		<div class="page page-story">

		</div>
	</template>
	
	<template id="popup">
		<div class="page page-popup" v-on:click="close" title="返回" v-show="show">
			<transition name="fade">
			<div class="page-popup-content" v-on:click="stopClose(event)" title="" v-show="show">
				<div class="box">
					<div class="box-inner" v-html="html">
					</div>
				</div>
				<div class="btn-close" v-on:click="close"></div>

			</div>
			</transition>
		</div>
	</template>
	
	<script src="/js/package.min.js"></script>
	<script src="/js/common.min.js"></script>
	<script src="/js/page.js"></script>
	<script src="/js/vue.min.js"></script>
	<script src="/js/vue-router.js"></script>
	<!--<script type="text/javascript" src="https://g.alicdn.com/de/prismplayer/1.9.2/prism.js"></script>-->
	<script src="/js/index.js"></script>
  </body>
</html>